<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<!-- make sure to set 'Copy To Output Directory' option for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
	<variable name="VerboseLayout"
              value="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString:separator=\r\n}" />
	<variable name="HeaderLayout" value="${longdate} Logging started${newline}" />
	<variable name="FooterLayout" value="${newline}${longdate} Shutdown${newline}" />
	<!--<variable name="LogDirectory" value="./log/"/>-->
	<!--<variable name="ArchiveLogDirectory" value="./log/"/>-->
	<variable name="LogDirectory" value="${basedir}/log/" />
	<variable name="ArchiveLogDirectory" value="${basedir}/log/" />
	<extensions>
		<!-- <add assembly="NLog.Web.AspNetCore"/> -->
		<add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
	</extensions>
	<!--give permission on windows-->
	<!--https://stackoverflow.com/a/58786660-->

	<targets async="true">
		<target name="infoFile" xsi:type="File" fileName="${LogDirectory}${processname}_info.txt"
                layout="${VerboseLayout}"
                archiveFileName="${ArchiveLogDirectory}${processname}_info.{#}.zip"
                archiveEvery="Day"
                encoding="utf-8"
                maxArchiveFiles="0"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd"
                header="${HeaderLayout}"
                keepFileOpen="false"
                concurrentWrites="true"
                footer="${FooterLayout}" lineEnding="None" enableArchiveFileCompression="true" />
		<target name="errorFile" xsi:type="File" fileName="${LogDirectory}${processname}_error.txt"
                layout="${VerboseLayout}"
                archiveFileName="${ArchiveLogDirectory}${processname}_error.{#}.zip"
                archiveEvery="Day"
                encoding="utf-8"
                maxArchiveFiles="0"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd"
                header="${HeaderLayout}"
                keepFileOpen="false"
                concurrentWrites="true"
                footer="${FooterLayout}" lineEnding="None" enableArchiveFileCompression="true" />
		<!--<target name="debugFile" xsi:type="File" fileName="${LogDirectory}${processname}_debug.txt"
                layout="${VerboseLayout}"
                archiveFileName="${ArchiveLogDirectory}${processname}_debug.{#}.zip"
                archiveEvery="Day"
                encoding="utf-8"
                maxArchiveFiles="0"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd"
                header="${HeaderLayout}"
                keepFileOpen="false"
                concurrentWrites="true"
                footer="${FooterLayout}" lineEnding="None" enableArchiveFileCompression="true" />-->
		<!--<target xsi:type="Gelf" name="graylog" endpoint="udp://asbank-log.rabitabank.com:12201" facility="" SendLastFormatParameter="true" gelfVersion="1.1">
			<parameter name="assembly" layout="${appdomain:format={1\}:cached=True}"/>
			<parameter name="log-level" layout="${level:uppercase=true}"/>
			<parameter name="callsite" layout="${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}"/>
			<parameter name="threadid" layout="${threadid}"/>
			<parameter name="hostname" layout="${hostname}"/>
			<parameter name="activityId" layout="${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}" />
		</target>-->
	</targets>

	<rules>		
		<logger name="*" minlevel="Info" writeTo="infoFile, graylog" />
		<logger name="*" minlevel="Warn" writeTo="errorFile, graylog" />
	</rules>
</nlog>